@import url("https://fonts.googleapis.com/css2?family=Brawler&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --blue: #1da1f2;
  --yelloworange: #ffae42;
}

body {
  font-family: "Brawler", serif;
  font-size: 14px;
}

h1 {
  font-size: 37px;
}

/*-------------HEADER-------------*/

.menu {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.menu img {
  width: 120px;
  padding: 1rem 0 0 0;
}

.menu a {
  color: var(--black);
  text-decoration: none;
  font-weight: normal;
  padding-right: 30px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-basis: 65%;
  justify-content: space-between;
  align-items: center;
}

.list {
  position: relative;
  display: flex;
}

.list a:hover {
    background-color: var(--yelloworange);
  }


/*--------- BODY------ */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ----------FOOTER------------ */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.footertxt h6 {
  color: var(--white);
  font-size: 14px;
  padding-left: 50px;
}

.social_media_icons {
  flex-direction: row;
  font-size: 24px;
  justify-content: space-around;
  padding-right: 1.5em;
}

/*-------RESPONSIVNESS------------*/

@media only screen and (max-width: 800px) {
  /*---------HEADER---------*/

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu a {
    font-size: 3vw;
  }

  .menu img {
    align-items: center;
    width: 90px;
    padding: 2rem 0 1.5rem 0;
  }

  /*-------- FOOTER ---------*/

  footer {
    display: block;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem;
  }

  .social_media_icons {
    padding-left: 160px;
    padding-top: 2rem;
  }

  .footertxt h2 {
    font-size: 1rem;
    text-align: center;
  }
}