@import url("https://fonts.googleapis.com/css2?family=Brawler&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --blue: #1da1f2;
  --yelloworange: #ffae42;
}

body {
  font-size: 14px;
}

/*-------------HEADER-------------*/

.menu {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.menu img {
  width: 120px;
  padding: 1rem 0 0 0;
}

.menu a {
  color: var(--black);
  text-decoration: none;
  font-weight: normal;
  padding-right: 30px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-basis: 65%;
  justify-content: space-between;
  align-items: center;
}

.list {
  position: relative;
  display: flex;
}

.list a:hover {
  background-color: var(--yelloworange);
  cursor: pointer;
}

/*--------- BODY------ */

.landing-1 {
  display: flex;
  justify-content: center;
}

.landing-1 img {
  position: relative;
  width: 98%;
}

.abi h2 {
  position: relative;
  color: #c8f70d;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  top: -130px;
  font-size: 20px;
  text-align: center;
}

.click a {
  position: relative;
  padding-left: 47%;
  padding-right: 0;
  top: -120px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
}

.landing-2 {
  display: flex;
  justify-content: center;
}

.landing-2 img {
  position: relative;
  width: 75%;
}

.dote h2 {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 60%;
  margin: 0 auto;
  color: #c8f70d;
  top: -120px;
}

.ding h3 {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  top: -110px;
}

.btn1 {
  position: relative;
  border-style: none;
  padding-left: 0;
  padding-right: 0;
  width: 10%;
  margin-left: 25%;
  border-radius: 4px;
  color: #1da1f2;
  background: #ebf19e;
  top: -115px;
  height: 3vh;
}

.wrapper {
  position: relative;
  display: flex;
  padding-left: 0;
  margin-left:-30px;
  justify-content: center;
  top: -90px;
  color: var(--blue);
}

input[type="text"] {
  width: 30%;
}

.wrapper p {
  background-color: #ebf19e;
  padding: 5px;
  font-size: 13px;
  border-radius: 3px;
}

.btn2 {
  background-color: #ebf19e;
  width: 40px;
  border-style: none;
  border-radius: 4px;
  color: var(--blue);
}

.landing-3 {
  display: flex;
  justify-content: center;
}

.landing-3 img {
  position: relative;
  width: 75%;
}

.tips h2 {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 60%;
  margin: 0 auto;
  color: #c8f70d;
  top: -120px;
}

.grow h3 {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  top: -110px;
}

.btn3 {
  position: relative;
  border-style: none;
  padding-left: 0;
  padding-right: 0;
  width: 10%;
  margin-left: 25%;
  border-radius: 4px;
  color: #1da1f2;
  background: #ebf19e;
  top: -90px;
  height: 3vh;
}

.landing-4 {
  display: flex;
  justify-content: center;
}

.landing-4 img {
  position: relative;
  width: 75%;
}

.near h2 {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 60%;
  margin: 0 auto;
  color: #c8f70d;
  top: -110px;
}

.know h3 {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  top: -100px;
}

.btn4 {
  position: relative;
  border-style: none;
  padding-left: 0;
  padding-right: 0;
  width: 10%;
  margin-left: 25%;
  border-radius: 4px;
  color: #1da1f2;
  background: #ebf19e;
  top: -85px;
  height: 3vh;
}

.btn1:hover {
  background-color: var(--yelloworange);
  cursor: pointer;
}

.btn2:hover {
  background-color: var(--yelloworange);
  cursor: pointer;
}

.btn3:hover {
  background-color: var(--yelloworange);
  cursor: pointer;
}

.btn4:hover {
  background-color: var(--yelloworange);
  cursor: pointer;
}

/* ----------FOOTER------------ */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footertxt h5 {
  color: var(--black);
  font-size: 14px;
}

.social_media_icons {
  flex-direction: row;
  font-size: 24px;
}


 
    @media only screen and (max-width: 1024px) {
    

    /*--------- BODY------ */
    
    .landing-1 {
      display: flex;
      justify-content: center;
    }
  
    .landing-1 img {
      position: relative;
      width: 98%;
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
      justify-content: center;
    }
  
    .abi h2 {
      position: relative;
      color: #c8f70d;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      top: -90px;
      text-align: center;
    }
  
    .click a {
      position: relative;
      padding-left: 44%;
      padding-right: 0;
      top: -100px;
      color: #ffffff;
      font-size: 18px;
      font-weight: bolder;
    }

    .landing-2 {
      display: flex;
      justify-content: center;
    }

    .landing-2 img {
      width: 75%;
      position: relative;
      height: 30vh;
    }

    .dote h2 {
      position: relative;
      padding-right: 0;
      padding-left: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      color: #c8f70d;
      top: -200px;
    }

    .ding h3 {
      position: relative;
      padding-right: 0;
      padding-left: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      top: -210px;
    }

    .btn1 {
      position: relative;
      border-style: none;
      padding-left: 0;
      padding-right: 0;
      width: 15%;
      margin-left: 42%;
      border-radius: 4px;
      color: #1da1f2;
      background: #ebf19e;
      top: -190px;
      height: 3vh;
    }

    .wrapper {
      position: relative;
      display: flex;
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
      justify-content: center;
      top: -150px;
      color: var(--blue);
    }

    input[type="text"] {
      width: 30%;
    }

    .wrapper p {
      background-color: #ebf19e;
      padding: 5px;
      font-size: 13px;
      border-radius: 3px;
    }

    .btn2 {
      background-color: #ebf19e;
      width: 40px;
      border-style: none;
      border-radius: 4px;
      color: var(--blue);
    }

    .landing-3 {
      display: flex;
      justify-content: center;
    }

    .landing-3 img {
      position: relative;
      width: 75%;
      height: 30vh;
    }

    .tips h2 {
      position: relative;
      padding-right: 0;
      padding-left: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      color: #c8f70d;
      top: -230px;
    }

    .grow h3 {
      position: relative;
      padding-right: 0;
      padding-left: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      top: -210px;
    }

    .btn3 {
      position: relative;
      border-style: none;
      padding-left: 0;
      padding-right: 0;
      width: 15%;
      margin-left: 42%;
      border-radius: 4px;
      color: #1da1f2;
      background: #ebf19e;
      top: -170px;
      height: 3vh;
    }

    .landing-4 {
      display: flex;
      justify-content: center;
    }

    .landing-4 img {
      position: relative;
      width: 75%;
      height: 30vh;
    }

    .near h2 {
      position: relative;
      padding-right: 0;
      padding-left: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      color: #c8f70d;
      top: -230px;
    }

    .know h3 {
      position: relative;
      padding-right: 0;
      padding-left: 0;
      width: 60%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      top: -210px;
    }

    .btn4 {
      position: relative;
      border-style: none;
      padding-left: 0;
      padding-right: 0;
      width: 15%;
      margin-left: 42%;
      border-radius: 4px;
      color: #1da1f2;
      background: #ebf19e;
      top: -170px;
      height: 3vh;
    }

    .btn1:hover {
      background-color: var(--yelloworange);
      cursor: pointer;
    }

    .btn2:hover {
      background-color: var(--yelloworange);
      cursor: pointer;
    }

    .btn3:hover {
      background-color: var(--yelloworange);
      cursor: pointer;
    }

    .btn4:hover {
      background-color: var(--yelloworange);
      cursor: pointer;
    }

    /* ----------FOOTER------------ */

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .footertxt h5 {
      color: var(--black);
      font-size: 14px;
    }

    .social_media_icons {
      flex-direction: row;
      font-size: 24px;
    }
}

@media only screen and (max-width: 600px){
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    justify-content: space-between;
  }

  .menu a {
     font-size: 14px; 
  }

  .menu img {
    align-items: center;
    width: 90%;
    padding: 2rem 0 1rem 0;
  }
  
  .landing-1 {
    display: flex;
    justify-content: center;
  }

  .landing-1 img {
    width: 98%;
    padding-left: 13px;
    padding-right: 13px;
  }

  .abi h2 {
    position: relative;
    color: #c8f70d;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    top: -85px;
    text-align: center;
  }

  .click a {
    position: relative;
    padding-left: 43%;
    padding-right: 0;
    top: -80px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
  }

  .landing-2 {
    display: flex;
    justify-content: center;
  }

  .landing-2 img {
    width: 75%;
  }

  .dote h2 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
    color: #c8f70d;
    top: -175px;
  }

  .ding h3 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
    color: #fff;
    top: -170px;
  }

  .btn1 {
    position: relative;
    border-style: none;
    padding-left: 0;
    padding-right: 0;
    width: 15%;
    margin-left: 42%;
    border-radius: 4px;
    color: #1da1f2;
    background: #ebf19e;
    top: -220px;
  }

  .wrapper {
    position: relative;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    justify-content: center;
    top: -140px;
    color: var(--blue);
  }

  input[type="text"] {
    width: 30%;
  }

  .wrapper p {
    background-color: #ebf19e;
    padding: 5px;
    font-size: 13px;
    border-radius: 3px;
  }

  .btn2 {
    background-color: #ebf19e;
    width: 40px;
    border-style: none;
    border-radius: 4px;
    color: var(--blue);
  }

  .landing-3 {
    display: flex;
    justify-content: center;
  }

  .landing-3 img {
    position: relative;
    width: 75%;
  }

  .tips h2 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
    color: #c8f70d;
    top: -170px;
  }

  .grow h3 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
    color: #fff;
    top: -165px;
  }

  .btn3 {
    position: relative;
    border-style: none;
    padding-left: 0;
    padding-right: 0;
    width: 15%;
    margin-left: 42%;
    border-radius: 4px;
    color: #1da1f2;
    background: #ebf19e;
    top: -150px;
    height: 3vh;
  }

  .landing-4 {
    display: flex;
    justify-content: center;
  }

  .landing-4 img {
    position: relative;
    width: 75%;
  }

  .near h2 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
    color: #c8f70d;
    top: -180px;
  }

  .know h3 {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 60%;
    margin: 0 auto;
    color: #fff;
    top: -170px;
  }

  .btn4 {
    position: relative;
    border-style: none;
    padding-left: 0;
    padding-right: 0;
    width: 15%;
    margin-left: 42%;
    border-radius: 4px;
    color: #1da1f2;
    background: #ebf19e;
    top: -140px;
    height: 3vh;
  }

  .btn1:hover {
    background-color: var(--yelloworange);
    cursor: pointer;
  }

  .btn2:hover {
    background-color: var(--yelloworange);
    cursor: pointer;
  }

  .btn3:hover {
    background-color: var(--yelloworange);
    cursor: pointer;
  }

  .btn4:hover {
    background-color: var(--yelloworange);
    cursor: pointer;
  }

   /*-------- FOOTER ---------*/

   footer {
    flex-direction: column;
    text-align: center;
  }

  .footertxt h2 {
    font-size: 1rem;
  }
  .social_media_icons {
    justify-content: center;
    padding: 5px;
    padding-top: 20px;
  }
}
